

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {background-color: rgb(231, 206, 255);
    margin: 0 auto;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}

#skip-links {
    list-style: none;
    padding:0;
}

#skip-links a{
    position: absolute;
    top: -3em;
    color: #95008c;   
    outline-color: #95008c;
}
  
#skip-links a:focus{
    top: 0;  
}
  
#skip-links a:visited{
    color: #585858;
}

.logo{
    margin: 0 auto;
    display: block;
}

nav{
    width: 100%;
    text-align: center;
}

.nav-bar{
    max-width: 1200px;
    margin: 0 auto;

}

.navbar-items a{
    text-decoration: none;
    padding: .5rem;
    display: block;
    color: #95008c;
    padding-right: 50px;

}

ul {
    list-style-type: none;
}


.search-bar{
    position: relative;
    border-radius: 25px;
    background-color: white;
    max-width: 15rem;
    margin: 0 auto;
    margin-top: 1rem;
}

.search-bar input{
    height: 100%;
    width:100%;
    border-radius:10px;
    display:block;
    border: none;
    padding:.5rem;
    background-color: white;
}

.search-bar input:focus{
    outline:none;
}

.search-bar button{
    position:absolute;
    top:0;
    right:0;
    width:50px;
    height: 100%;
    border-radius:25%;
    cursor:pointer;
    border:none;
    background: none;
    padding-top: 4px;
}


::placeholder{
    color:grey;
}

.material-icons-outlined{
    color:#95008c;
}

/* HERO BANNER */

.hero-banner{
    position: relative;
    text-align: center;
    max-width: 100%;
    margin: 1rem auto;
    padding: 5px 0px;
}

.personalized{
    background-color: white;
    position: relative;
    text-align: center;
    max-width: 100%;
    margin: 1rem auto;
    padding: 5px;
}

.services{
    margin:0 auto;
    text-align: center;
    max-width: 100%;
}

/* BUTTON STYLE */

.button{
    display: block;
    margin: 2rem 0; 
}

.button a{
    background-color: #95008c;
    border-radius: 8px;
    color: #f5eaf4;
    padding: .5rem 1.5rem;
    text-decoration: none;
}

.button a:hover{
    background-color: #c4859c;
    transform: scale(2);
}





