

/* <!-- All photos used  are from www.pexels.com, www.unsplash.com -->
<!-- Delivery, package, discount icons are from www.freepik.com --> */

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {background-color: rgb(231, 206, 255);
    margin: 0 auto;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}

#skip-links {
    list-style: none;
    padding:0;
}

#skip-links a{
    position: absolute;
    top: -3em;
    color: #95008c;   
    outline-color: #95008c;
}
  
#skip-links a:focus{
    top: 0;  
}
  
#skip-links a:visited{
    color: #585858;
}

.logo{
    margin: 0 auto;
    display: block;
}

nav{
    width: 100%;
    text-align: center;
}

.nav-bar{
    max-width: 1200px;
    margin: 0 auto;

}

.navbar-items a{
    text-decoration: none;
    padding: .5rem;
    display: block;
    color: #95008c;
    padding-right: 50px;

}

ul {
    list-style-type: none;
}


.search-bar{
    position: relative;
    border-radius: 25px;
    background-color: white;
    max-width: 15rem;
    margin: 0 auto;
    margin-top: 1rem;
}

.search-bar input{
    height: 100%;
    width:100%;
    border-radius:10px;
    display:block;
    border: none;
    padding:.5rem;
    background-color: white;
}

.search-bar input:focus{
    outline:none;
}

.search-bar button{
    position:absolute;
    top:0;
    right:0;
    width:50px;
    height: 100%;
    border-radius:25%;
    cursor:pointer;
    border:none;
    background: none;
    padding-top: 4px;
}


::placeholder{
    color:grey;
}

.material-icons-outlined{
    color:#95008c;
}

/* HERO BANNER */

.hero-banner{
    position: relative;
    text-align: center;
    max-width: 100%;
    margin: 1rem auto;
    padding: 5px 0px;
}

.personalized{
    background-color: white;
    position: relative;
    text-align: center;
    max-width: 100%;
    margin: 1rem auto;
    padding: 5px;
}

.services{
    margin:0 auto;
    text-align: center;
    max-width: 100%;
}


/* BUTTON STYLE */

.button{
    display: block;
    margin: 2rem 0; 
}

.button a{
    background-color: #95008c;
    border-radius: 8px;
    color: #f5eaf4;
    padding: .5rem 1.5rem;
    text-decoration: none;
}

.button a:hover{
    background-color: #c4859c;
}



/* FOOTER */

hr {
    height: 2px;
    background-color: #95008c;
    border: none;
}

.footer-content{
    color:#95008c;
    margin:0 auto;
    max-width: 1400px;
    display: block;
    margin-bottom: 1rem;
    position: relative;
    text-align: center;
    padding-top: 1rem;
}

.social-group a{
    text-decoration: none;
    color:#95008c;
}

.svg-icon{
    fill: #95008c;
}



.back-to-top-button a{
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    background-color:#95008c ;
    border-radius: 50%;
    padding: 0.3rem 0.5rem;
}



.back-to-top {
    color: rgb(255, 255, 255);
}

.back-to-top-button a:hover{
    background-color: #c4859c;
}

/* ABOUT PAGE */

.about-info {
    background-color: #95008c;
    text-align: center;
    color: #f5eaf4;
    margin: 0 auto;
    padding: 5px 0px;
    position: relative;
}

.mission-vision {
    background-color: white;
    text-align: center;
    position:relative;
    padding: 5px 0px;
}

.contact-info {
    position: relative;
    padding: 5px 0px;
    text-align: center;
    position:relative;
}

#write-us{
    text-align: center;
}

#contact-info {
    text-align: center;
}


/* TABLE */

table {
    margin:auto
}
td {
    border: #95008c solid 1px;
    color: #95008c;
    padding: 0.5rem 0; 
  }
th {
    background-color: #95008c;
    color: white;
    padding: 0.5rem 0;  
 
}



/* CONTACT US */

.contact-us {
    background-color: #95008c;
    color:white;
    position: relative;
    text-align: center;
    padding: 1rem
}


.forms input{
    display:block;
    width: 100%;
    margin-top:5px;
    background-color: white;
    border: none;
    padding: .5rem;
    border-radius: 5px;
}

.forms textarea{
    display:block;
    width: 100%;
    height: 5rem;
    margin-top:5px;
    padding: .5rem;
    resize:none;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-family: sans-serif;
}

.forms textarea,input:focus{
    outline:none;
}

.forms div{
    margin:2rem 0;
}

.button-form {
    background-color: white;
    border-radius: 10px;
    color: #95008c;
    padding: .6rem 2rem;
    text-decoration: none;
    border: #95008c 1px solid;
}

.button-form:hover{
    background-color: #fde8f1;
}



/* PRODUCT PAGE */

.product-text {
    background-color: #95008c;
    color: white;
    text-align: center;
}

.products-grid {
    text-align: center;
}


/* MEDIA QUERIES - HOME */

@media screen and (min-width:800px) {

    .navbar-items{
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        max-width: 800px;
        align-items: center;
        margin: 0 auto;
        padding-top: 2rem;
    }

    .search-bar{
        display:inline-block;
    }

}

/* MEDIA QUERIES - CONTACT */

@media screen and (min-width:800px){
.contact-us{
    max-width: 800px;
    margin:0 auto}
}

/* MEDIA QUERIES - PRODUCTS */


@media screen and (min-width:800px){

    .product-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        margin: 0 auto;
        text-align: center;}
}
